<h1>Search Flights</h1>
<%= form_tag(flights_path, method: :get) do %>
  <%= text_field_tag(:search, params[:search]) %>
  <%= submit_tag ('Search') %>
<% end %>
<br><br>
<h2>From:</h2>
<%= collection_select(:flight, :from_airport_id, Airport.all, :id, :name) %>
<h2>To:</h2>
<%= collection_select(:flight, :to_airport_id, Airport.all, :id, :name) %>
